body{
    padding: 10px;
};


img {
    background-color: gray;
    width: 262px;
};

.search-form{
border: 5px solid grey;
    margin:15px;
    padding: 10px;
}

input{
    width: 300px;
    margin-right:30px ;
    margin-left: 30px;
}

button{
    background-color: rgb(69, 159, 215);
   font-size: larger;
}

.btn_hidden{
visibility: hidden;
}

.gallery{
    gap: 10px;
        display:inline-flex;
    flex-wrap: wrap;
};

.info{
    display: flex;
    justify-content: center;
    gap: 5px;
}

.info-item{
    display: flex;
    flex-direction: column;
    gap: 8px;
    text-align: start;
}

.load-more{
    display: block;
margin-right: auto;
margin-left: auto;
    }

